@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i|Roboto:100,200,300,400,700');

//Colors
$white: #FFFFFF;
$beige: #FFFEEE;
$black: #000000;
$monza-red: #CF000F;
$light-grey: #FEFEFE;
$grey: #757575;
$dark-grey: #4D4D4D;

//Font Families
$roboto: Roboto, sans-serif;
$open-sans: Open Sans, sans-serif;
