@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i|Roboto:100,200,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i|Roboto:100,200,300,400,700");
@keyframes cardHover {
  from {
    color: #757575; }
  to {
    box-shadow: -1px 4px 8px #656565;
    color: #000000; } }
.flex, .flex-row, .flex-column {
  display: flex;
  justify-content: space-between; }

.flex-row {
  flex-direction: row; }

.flex-column {
  flex-direction: column; }

.flex-1 {
  flex: 1; }

.flex-2 {
  flex: 2; }

.flex-3 {
  flex: 3; }

.flex-4 {
  flex: 4; }

.flex-5 {
  flex: 5; }

.flex-6 {
  flex: 6; }

.flex-7 {
  flex: 7; }

.flex-8 {
  flex: 8; }

.flex-9 {
  flex: 9; }

.flex-10 {
  flex: 10; }

.flex-11 {
  flex: 11; }

.flex-12 {
  flex: 12; }

header {
  height: 336px;
  width: 100%;
  background-color: #CF000F;
  background: linear-gradient(145deg, #CF000F, #F22613);
  font-family: Open Sans, sans-serif;
  color: #FFFFFF;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
  margin-bottom: 100px; }
  header .title {
    cursor: pointer;
    color: #FFFFFF;
    position: relative;
    font-size: 72px;
    width: 100%;
    top: 37%;
    text-align: center;
    font-weight: 400;
    text-shadow: 0 2px 4px #4D4D4D; }
    header .title:focus {
      outline: 0; }
  header p {
    font-size: 24px;
    text-align: center;
    top: 40%;
    position: relative;
    width: 100%;
    font-weight: 100;
    text-shadow: 0 2px 4px #4D4D4D; }
  header button {
    border: none;
    background: none;
    width: 150px;
    height: 35px;
    padding: 0;
    position: relative;
    margin-top: 186px;
    left: 50%;
    transform: translate(-50%);
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font: 14px Roboto, sans-serif;
    font-weight: 700;
    color: #CF000F;
    cursor: pointer; }
    header button:focus {
      outline: 0; }

.scale {
  transform: scale(1.5); }

.row-container {
  width: 60%;
  margin: 12% auto;
  color: #757575; }
  .row-container .speed-image-container {
    position: relative; }
    .row-container .speed-image-container .timelapse-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(2);
      color: #CF000F; }
  .row-container .label {
    font-family: Roboto, sans-serif;
    font-size: 36px;
    font-weight: 300; }
  .row-container .description {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 100; }
  .row-container .hybrid-text {
    text-align: right; }
  .row-container .allDevices-text {
    text-align: center; }
  .row-container .allDevices-img {
    margin-top: 7%;
    margin-left: 8%; }

footer {
  background-color: #CF000F;
  position: absolute;
  width: 100%;
  height: 50px;
  color: #FFFFFF;
  font-family: Open Sans, sans-serif;
  bottom: 0; }
  footer .footer-title {
    margin-left: 25px;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }

.post-list-container {
  margin-top: 50px;
  width: 90%;
  margin: auto; }
  .post-list-container section {
    width: 100%; }
    .post-list-container section .no-padding {
      padding: 0; }
    .post-list-container section h1 {
      font-family: Roboto, sans-serif;
      font-weight: 500;
      font-size: 36px;
      color: #757575;
      margin-bottom: 25px; }
    .post-list-container section h2 {
      font-weight: 300; }
    .post-list-container section h3 {
      font-weight: 300;
      font-size: 14px;
      margin-top: 15px; }
    .post-list-container section .post-column {
      width: 90%; }
    .post-list-container section .post-container div {
      cursor: pointer;
      margin: 25px 0;
      color: #757575;
      transition: color .5s;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.11), 0 1px 2px rgba(0, 0, 0, 0.22);
      transition: box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
      padding: 15px;
      border-radius: 2px; }
      .post-list-container section .post-container div:hover {
        box-shadow: -1px 3px 5px #999;
        color: #2574A9; }
    .post-list-container section .categories-container {
      margin: 25px;
      align-items: flex-start; }
      .post-list-container section .categories-container /deep/ .mat-list-text {
        font-weight: 300;
        font-family: Roboto, sans-serif;
        color: #757575; }

* {
  margin: 0;
  padding: 0; }

html {
  height: 100%; }
  html body {
    position: relative;
    min-height: 100%;
    background-color: #FEFEFE; }
    html body .content-container {
      padding-bottom: 50px;
      font-family: Roboto, sans-serif; }
      html body .content-container p {
        font-family: Roboto, sans-serif;
        font-size: 18px;
        font-weight: 300;
        line-height: 30px; }
      html body .content-container .post-container {
        width: 70%; }

/*# sourceMappingURL=styles.css.map */
