@import './partials/variables';
@import './partials/mixins';
@import './partials/grid';

// @import '../../app/header/header.scss';
@import '../../app/home/home.scss';
@import '../../app/footer/footer.scss';
@import '../../app/posts/post-list/post-list';
@import '../../app/posts/post-detail/post-detail.scss';

*{
   margin:0;
   padding:0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

html {
  height: 100%;
  body {
    position: relative;
    min-height: 100%;
    background-color: $white;
    .content-container {
      width: 75%;
      margin: auto;
      padding-bottom: 100px;
      font-family: $roboto;
      p {
        @include pFontStack(18px, 300);
        line-height: 30px;
      }

      .post-container {
        width: 70%;
      }
    }
  }
}