/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~assets/styles/variables";

body, p, h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

html {
  height: 100%;
  body {
    position: relative;
    min-height: 100%;
    background-color: $light-grey;
    .content-container {
      padding-bottom: 50px;
    }
  }
}
