# See http://help.github.com/ignore-files/ for more about ignoring files.
.git/
/vm/

# Django /static-root/
/static-root
/server/static

client/node_modules
*.pyc
*.DS_Store
/virtualenv

# compiled output
client/dist
client/tmp
client/out-tsc

# dependencies
/node_modules

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
client/.sass-cache
client/connect.lock
client/coverage
client/libpeerconnection.log
client/npm-debug.log
client/testem.log
client/typings

# e2e
client/e2e/*.js
client/e2e/*.map

# System Files
Thumbs.db
