@import '~assets/styles/grid';
@import '~assets/styles/mixins';
@import '~assets/styles/variables';

:host {
  section {
      .post-header-container {
        margin-bottom: 3%;
        position: relative;
        .post-title {
          color: $grey;
          font-size: 64px;
        }
        .post-info {
          position: absolute;
          right: 0;
          bottom: 0;
          text-align: right;
          color: $grey;
          span {
            font-weight: 500;
            margin-right: 10px;
          }
          p {
            font-weight: 100;
          }
        }
      }
      .post-body {
        mat-card {
          p {
            color: $grey;
          }
        }
      }
  }
}