<section class="post-detail-container">
  <div class="flex post-header-container ">
    <div class="flex-9">
      <h1 class="post-title">{{ (post$ | async)?.title }}</h1>
    </div>
    <div class="flex-3 post-info flex flex-column">
      <div class="flex-row">
        <span class="flex-3">Published:</span>
        <p>{{ (post$ | async)?.created  | date:'shortDate'}}</p>
      </div>
      <div class="flex-row">
        <span class="flex-3">Category:</span>
        <ng-container *ngFor="let category of (categories$ | async)" >
            <ng-container *ngIf="category.id == (post$ | async)?.category" >
                <p>{{ category.title }}</p>
            </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="post-body" >
    <mat-card>
      <p>{{ (post$ | async)?.body }}</p>
    </mat-card>
  </div>
</section>