{% load static %}
<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Product" lang="en">
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

    <meta name="description" content="Rafay's personal blog for all things technology, development, architecture, and future trends.">
    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" href="/favicon.ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>rafay.io</title>

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="rafay.io">
    <meta itemprop="description" content="Rafay's personal blog for all things technology, development, architecture, and future trends.">
    <meta itemprop="image" content="https://rafayio-assets.nyc3.digitaloceanspaces.com/rafay.io/assets/media/rafay.io.png">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="rafay.io">
    <meta name="twitter:site" content="@rafaymusic">
    <meta name="twitter:title" content="rafay.io">
    <meta name="twitter:description" content="Rafay's personal blog for all things technology, development, architecture, and future trends.">
    <meta name="twitter:creator" content="@rafaymusic">
    <meta name="twitter:image" content="https://rafayio-assets.nyc3.digitaloceanspaces.com/rafay.io/assets/media/rafay.io.png">

    <!-- Open Graph data -->
    <meta name="fb:app_id" content="1738129782945406">
    <meta name="og:title" content="rafay.io" />
    <meta name="og:type" content="article" />
    <meta name="og:url" content="http://rafay.io/" />
    <meta name="og:image" content="https://rafayio-assets.nyc3.digitaloceanspaces.com/rafay.io/assets/media/rafay.io.png" />
    <meta name="og:description" content="Rafay's personal blog for all things technology, development, architecture, and future trends." />
    <meta name="og:site_name" content="rafay.io" />

    <link href="{% static 'static/css/main.css' %}" rel="stylesheet" type="text/html">
</head>
<body>
<noscript>You need to enable JavaScript to run this app.</noscript>
<div id="root"></div>
<script type="text/javascript" src="https://rafayio-assets.nyc3.digitaloceanspaces.com/rafay.io/assets/js/main.js"></script>
</body>
</html>