.scale {
  transform: scale(1.5);
}
.row-container {
  width: 60%;
  margin: 12% auto;
  color: $grey;

  .speed-image-container {
    position: relative;
    .timelapse-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(2);
      color: $monza-red;
    }
  }

  .label {
    @include pFontStack(36px, 300);
  }

  .description {
    @include pFontStack(18px, 100)
  }

  .hybrid-text {
    text-align: right;
  }

  .allDevices-text {
    text-align: center;
  }

  .allDevices-img {
    margin-top: 7%;
    margin-left: 8%;
  }
}

section {
  &.home {

    .home-about-text {
      width: 70%;
      margin: 4% auto;
      color: $lynch;
      font-weight: 100;
      text-align: center;
      font-size: 28px;

      .contact-info {
        margin-top: 5%;
        display: flex;
        justify-content: center;

        .email-icon {
          display: flex;
          flex-direction: column;
          margin-right: 3%;
          position: relative;
          cursor: pointer;

          i {
            font-size: 45px;
            color: $black;
          }

          span {
            visibility: hidden;
            position: absolute;
            top: 0;
            transition: top 1s;
            left: 0;
            transform: translateX(-50%);
            font-weight: 300;

            a {
              color: $black;
            }
          }

          &:hover {
            span {
              visibility: visible;
              top: 45px;
            }
          }
        }

        .github-icon {
          .github-img {
            width: 42px;
          }
        }
      }
    }

    .home-text {
      position: relative;

      h1 {
        position: relative;
        width: 400px;
        margin: auto;
        text-align: right;
        font-size: 10em;
        font-weight: 300;
        text-shadow: 0px 2px 4px $black;
        color: $porcelain;

        .dancing-r {
          position: absolute;
          transform: skew(0deg);
          left: 48px;
          animation: dance 1s;
        }
      }

      h2 {
        text-align: center;
        font-weight: 100;
        color: $lynch;
        font-size: 18px;
        margin: 15px auto;
        border-bottom: 1px solid $silver-sand;
        width: 70%;
        padding-bottom: 4%;
      }
    }
  }
}