@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i|Roboto:100,200,300,400,700');

//Colors
$white: #FFFFFF;
$beige: #FFFEEE;
$black: #000000;
$night-black: #656565;
$dark-black: #2C3E50;
$lynch: #6C7A89;
$monza-red: #CF000F;
$light-grey: #FEFEFE;
$silver-sand: #BDC3C7;
$grey: #757575;
$dark-grey: #4D4D4D;
$orange: #F9690E;
$turquoise: #65C6BB;
$porcelain: #ECECEC;
$box-shadow-grey: #999;
//Font Families
$roboto: Roboto, sans-serif;
$open-sans: Open Sans, sans-serif;
