@import '~assets/styles/grid';
@import '~assets/styles/mixins';
@import '~assets/styles/variables';

:host {
  .no-padding {
    padding: 0;
  }

  h1 {
    font-family: $roboto;
    font-weight: 500;
    font-size: 36px;
    color: $grey;
    margin-bottom: 25px;
  }
  h2 {
    font-weight: 300;
  }
  h3 {
    font-weight: 300;
    font-size: 14px;
    margin-top: 15px;
  }
  .post-list-container {
    margin-top: 50px;
    width: 90%;
    margin: auto;
    .post-column {
      width: 90%
    }
    .post-container {
      mat-card {
        transition: box-shadow .25s;
        background-color: $white;
        &:hover {
          box-shadow: -1px 4px 8px $night-black;
        }
        cursor: pointer;
        &.post {
          margin: 25px 0;
          color: $grey;
        }
      }
    }

    .categories-container {
      margin: 25px;
      align-items: flex-start;
      /deep/ .mat-list-text {
        font-weight: 300;
        font-family: $roboto;
        color: $grey;
      }
    }
  }
}
