<div class="post-list-container" >
  <!-- <div class="flex flex-row">
    <h1 class="flex-6">Posts</h1>
    <h1 class="flex-6">Categories</h1>
  </div> -->
  <div class="flex">
    <section class="flex-row flex-10">
        <div class="flex-column post-column">
          <ng-container *ngFor="let category of categories$ | async">
            <h1 class="flex-12">{{ category.title }}</h1>
            <div class="post-container flex-12" >
              <ng-container *ngFor=" let post of posts$ | async ">
                <mat-card class="post" *ngIf="post.category_obj.title == category.title" (click)="getPost(post.id)" >
                    <h2>{{ post.title }}</h2>
                    <h3>{{ post.description }}</h3>
                  </mat-card>
              </ng-container>
            </div>
          </ng-container>
        </div>
    </section>
  </div>
</div>
