@import '~assets/styles/variables';

:host {
  header {
    height: 336px;
    width: 100%;
    background-color: $monza-red;
    background: linear-gradient(145deg, $monza-red, #F22613);
    font-family: $open-sans;
    color: $white;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
    margin-bottom: 75px;
    .title {
      cursor: pointer;
      color: $white;
      position: relative;
      font-size: 72px;
      width: 100%;
      top: 37%;
      text-align: center;
      font-weight: 400;
      &:focus {
        outline: 0;
      }
    }
    p {
      font-size: 24px;
      text-align: center;
      top: 40%;
      position: relative;
      width: 100%;
      font-weight: 100;
    }

    button {
      border: none;
      background: none;
      width: 150px;
      height: 35px;
      padding: 0;
      position: relative;
      margin-top: 186px;
      left: 50%;
      transform: translate(-50%);
      background-color: white;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
      font: 14px $roboto;
      font-weight: 700;
      color: $monza-red;
      cursor: pointer;
      &:focus {
        outline: 0;
      }
    }
  }
}
